<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <insert id="boardSave" parameterType="board">
        insert into board_info(boardId,boardTitle,boardContents,boardMbti)
        values (#{boardId},#{boardTitle},#{boardContents},#{boardMbti})
    </insert>

    <select id="findAll" resultType="board" >
        select * from board_info
    </select>

    <select id="findByBno" parameterType="Integer" resultType="board">
        select * from board_info where bno = #{bno}
    </select>

    <update id="updateHits" parameterType="Integer">
        update board_info set boardHits = boardHits + 1 where bno = #{bno}
    </update>

    <update id="boardUpdate" parameterType="board">
        update board_info set boardMbti = #{boardMbti},boardTitle =#{boardTitle}, boardContents =#{boardContents}
        where bno = #{bno}
    </update>

    <delete id="boardDelete" parameterType="Integer">
        delete from board_info where bno = #{bno}
    </delete>


    <sql id="searchCondition">
        <choose>
            <when test='option == "T"'>
                boardTitle like concat('%',#{keyword},'%')
            </when>
            <when test='option == "W"'>
                boardId like concat('%',#{keyword},'%')
            </when>
            <otherwise>
                 (boardTitle like concat('%',#{keyword},'%')
                or boardContents  like concat('%',#{keyword},'%'))
            </otherwise>
        </choose>
    </sql>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
        select * from board_info where
        <if test="keyword != null">
           <include refid="searchCondition"/>
        </if>
            order by bno desc limit #{start},#{limit}
    </select>

    <select id="boardCount" parameterType="java.util.HashMap" resultType="Integer">
        select count(bno) from board_info where
        <if test="keyword != null">
            <include refid="searchCondition"/>
        </if>
    </select>

    <select id="mbtiPagingList" parameterType="java.util.HashMap" resultType="board">
        select * from board_info where
        <if test="keyword != null">
            <include refid="searchCondition"/>
        </if>
        and boardMbti like #{boardMbti} order by bno desc limit #{start},#{limit}
    </select>

    <select id="mbtiBoardCount"  parameterType="java.util.HashMap" resultType="Integer">
        select count(bno) from board_info  where
        <if test="keyword != null">
            <include refid="searchCondition"/>
        </if>
        and boardMbti like #{boardMbti}
    </select>

    <update id="updateCommentCnt" parameterType="map">
        update board_info
        set comment_cnt = comment_cnt + #{cnt}
        where bno = #{bno}
    </update>

<!--    <select id="searchCount" parameterType="SearchCondition" resultType="int">
        select count(bno) from board_info where boardTitle like concat('%',#{keyword},'%')
    </select>

    <select id="searchSelectPage" parameterType="SearchCondition" resultType="board">
        select * from board_info where boardTitle like concat('%',#{keyword},'%') order by bno desc limit #{start},#{end}
    </select>-->

</mapper>