<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <insert id="boardSave" parameterType="board">
        insert into board_info(boardId,boardTitle,boardContents,boardMbti)
        values (#{boardId},#{boardTitle},#{boardContents},#{boardMbti})
    </insert>

    <select id="findAll" resultType="board" >
        select * from board_info
    </select>

    <select id="findByBno" parameterType="Integer" resultType="board">
        select * from board_info where bno = #{bno}
    </select>

    <update id="updateHits" parameterType="Integer">
        update board_info set boardHits = boardHits + 1 where bno = #{bno}
    </update>
</mapper>