<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Comment">
    <insert id="commentSave" parameterType="comment">
        insert into comment_info ( bno, memberId, commentCreatedTime, commentContents, pcno,commentModifiedTime)
        values (#{bno},#{memberId},now(),#{commentContents},#{pcno},now())
    </insert>

    <select id="commentSelectAll" parameterType="int" resultType="comment">
        select cno,bno,memberID,commentCreatedTime,commentContents,pcno,commentModifiedTime from comment_info
        where bno =#{bno} order by commentCreatedTime asc, cno asc
    </select>

    <select id="commentSelect" parameterType="int" resultType="comment">
        select cno,bno,memberID,commentCreatedTime,commentContents,pcno,commentModifiedTime from comment_info
        where cno = #{cno}
    </select>

    <update id="commentModify" parameterType="comment">
        update comment_info
        set commentContents = #{commentContents}, commentCreatedTime = now()
        where cno = #{cno} and memberId = #{memberId}
    </update>

    <select id="count" parameterType="int" resultType="int">
        select count(*) from comment_info
        where bno = #{bno}
    </select>

    <delete id="deleteAll" parameterType="int">
        delete  from comment_info
        where bno = #{bno}
    </delete>

    <delete id="delete" parameterType="map">
        delete from comment_info
        where cno =#{cno} and memberId =#{memberId}
    </delete>



</mapper>